.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.page {
	border:solid 1px #DFDFDF;
	padding:25px !important;
	max-width: 264.73px;
}

li.list-group-item.active {
	background-color: #fff;
	border-color: #009933;
    border-left:solid 10px #009933;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #009933 !important;
}

.little-small {
	font-size: 14px;
}

.list-img {
	max-width: 150px;
	max-height: 250px;
}

.request-box {
	width: 200px;
	height: 150px;
	border: 1px solid #DFDFDF;
}